{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <a href="{{ path('app_home_ec2_new') }}">New instance</a>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Instance ID</th>
                <th scope="col">Instance Type</th>
                <th scope="col">Key Name</th>
                <th scope="col">State</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for instance in instances %}
                {% for data in instance %}
                    {% if data['Instances'] is defined %}
                        {% for dataInstance in data['Instances'] %}
                            <tr>
                                <td>{{ dataInstance['InstanceId'] }}</td>
                                <td>{{ dataInstance['InstanceType'] }}</td>
                                <td>{{ dataInstance['KeyName'] ?? '' }}</td>
                                <td>{{ dataInstance['State']['Code'] ~ ' - ' ~ dataInstance['State']['Name'] ?? '' }}</td>
                                <td>
                                    {#                                <a class="delete-btn" href="{{ path('app_home_delete') ~ '?file=' ~ file['Key'] }}"><img src="{{ asset('build/img/delete-button.svg') }}"></a>#}
                                    {#                                <a class="delete-btn" href="#"><img src="{{ asset('build/img/download.png') }}"></a>#}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block title %}

{% endblock %}

