{% extends 'base.html.twig' %}

{% block title %}AWS S3 - WebApp{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mb-3 mt-3">
            <h1>Simple Web AWS Application</h1>
        </div>
        <div class="row">
            {{ form_start(form) }}
                <div class="input-group form-group mb-3">
                    {{ form_widget(form.upload, {'attr': {'class': 'form-control'}}) }}
                    <div class="input-group-append ms-2">
                        <button class="btn btn-outline-secondary" type="submit">Send</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>

        <div class="row">
            <h3>Your files</h3>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Size</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in listes %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ file['Key'] }}</td>
                            <td>{{ file['Size'] | formatBytes }}</td>
                            <td>
                                <a class="delete-btn" href="{{ path('app_home_delete') ~ '?file=' ~ file['Key'] }}"><img src="{{ asset('build/img/delete-button.svg') }}"></a>
                                <a class="delete-btn" href="#"><img src="{{ asset('build/img/download.png') }}"></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
